parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Models\\\\Recipe\\:\\:\\$is_accepted \\(bool\\|null\\) does not accept int\\.$#"
			count: 1
			path: app/Http/Controllers/RecipeController.php
